.header-wrapper{
    position: renplative;
    width:100%;
    height:100vh;
    background-image: url('../../Images/22979-meditating-lady.gif') , linear-gradient(to bottom , rgba(255, 255, 255, 1), rgba(255, 255, 255,1));
    background-repeat: no-repeat;
    background-position:bottom;
    /* background-size: cover; */
    object-fit: contain;
}
.contentBx{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:800px;
    margin:60px auto 0px;
    padding:25px 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius:50px 0 50px 0; 
   
}
.contentBx button{
    display: block;
    width:140px;
    margin:10px auto 0;
    padding:10px 30px;
    border-radius:20px;
    border:2px solid rgb(248, 82, 134);
    background-color:rgb(248, 82, 134) ;
    color:#fff;
    font-weight:bold;
    cursor:pointer;
}
.contentBx button:hover{
    background-color:transparent;
    color:rgb(248, 82, 134) ;
}