.nav-bar{
    width:80%;
    padding:15px;
    margin:0 auto;
} 
.nav-bar>div{
   margin:5px 0;
} 
.nav1-container,
.nav2-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.icons{
    transform: scale(1.3);
}
.nav1-container ul,
.nav2-container ul,
.nav3-container .productbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    position: relative;
    list-style:none;
    margin:0 15px;
    padding:8px;
}
ul li a{
    text-decoration:none;
    color:black;
    text-transform: uppercase;
    font-size:1.2rem;
}
.nav2-container ul li::after{
    position:absolute;
    content:'';
    left: 0%;
    bottom: 0%;
    width: 0;
    height:3px;
    background-color:rgb(248, 82, 134);
    transition: all 0.4s ease;
}
.nav2-container ul li:hover::after{
    width:100%;
}
.nav2-container ul li a{
    letter-spacing:1.4px;
    font-weight:600;
}
.nav2-container .searchBx{
    position:relative;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(85, 84, 84, 0.2);
    border-radius:15px;
    width: 350px;
    padding:8px;
}
.nav2-container .searchBx .searchIcon{
    transform: scale(1);
    color: gray;
    margin-left:3px;
}
.nav2-container .searchBx input{
    border:none;
    outline:none;
    background-color: transparent;
    text-align: center;
    font-size:15px;
    color:#000;
    padding:3px 6px ;
    margin-left:10px;
}
.nav2-container .searchBx button{
    position: absolute;
    top: 0%;
    right: 0%;
    height:100%;
    border:none;
    outline:none;
    border-radius:0 15px 15px 0;
    text-align: center;
    font-size:16px;
    font-weight:500 ;
    color:#000;
    padding:9px 15px ;
}
.nav3-container ul li a{
    letter-spacing:1.1px;
    font-size:1.1rem;
}
.nav3-container ul li{
    position: relative;
}
.nav3-container .productbar li>ul{
  display:none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background:transparent;
  transition: all 0.4s ease;
  z-index:999; 
}
.nav3-container .productbar li>ul li a{
    font-size:13px;
    text-align: start;
}
.nav3-container ul li:hover>ul{
   display: block;
}