h2{
    position:relative;
    text-transform:uppercase;
    letter-spacing:3px;
    font-size:2.3rem;
    display:block;
    width: fit-content;
    margin:10px auto 15px;
    padding:5px 0;
}
h2::after{
    position: absolute;
    left:50%;
    bottom:0%;
    content:'';
    width:60%;
    height:4px;
    transform: translateX(-50%);
    background-color:rgb(248, 82, 134) ;
    transition:all .5s ease-in;
  }