.products{
    position: relative;
    padding:30px 80px 20px;
}
h3 a{
    font-size:1.2rem;
    text-decoration: none;
    color: black;
}
h3:hover a{
    text-decoration: none;
    color: black;
}
.container{
    position:relative;
    max-width:1200px;
    width :100%;
    padding:10px;
    margin:10px auto;
    display: flex;
    justify-content: center;
}
.container img{
    width:100%;
    object-position: center;
    object-fit:fill;
}
.left{
    flex:1;
    flex-wrap: wrap;
    padding:20px;

} 
.left img{
    margin-top:40px;
} 
.right div{
padding:10px;
}
.img1{grid-area:left;}
.img2{grid-area:right;}
.img3{grid-area:bottom;}
.right{
    display: grid;
    flex:1.1;
    flex-wrap: wrap;
    margin-left:30px;
    position:relative;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr 1fr;
    grid-template-areas:'left right'
                        'bottom bottom' ;
}
h3{
    margin:3px;
}
