.topproducts{
    position: relative;
    padding:20px 80px;
}
.container2{
    position:relative;
    max-width:1100px;
    height:700px;
    width :100%;
    padding:10px;
    margin:10px auto;
    display: flex;
    justify-content: center;
}
.container2 img{
    width:250px;
    object-position: center;
    object-fit:cover;
}
.Img1{grid-row-start: 1;
      grid-column-start:1;
      grid-row-end:3;
      grid-column-end:2;}
.Img2{grid-row-start: 2;
    grid-column-start:2;
    grid-row-end: 4;
    grid-column-end:3;}
.Img3{grid-row-start:4;
    grid-column-start:1;
    grid-row-end:6;
    grid-column-end:2;}
.Img4{grid-row-start:5;
    grid-column-start:2;
    grid-row-end:7;
    grid-column-end:3;}
.left2 div{
    padding:20px;
}
.left2{
    position:relative;
    display: grid;
    flex:1.2;
    flex-wrap: wrap;
    grid-template-columns:1fr 1fr ;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap:20px;
   
}

.right2{
    position: relative;
    flex:1;
    flex-wrap: wrap;
    align-self: center;
    padding:20px;
}
.right2 img{
    display: block;
    width:400px;
    height:450px; 
    margin:30px auto 0px;
}
.right2 p{
    font-size:17px;
    color:#000;
    font-weight:490;
}
.right2 p::first-letter{
    font-size:40px;
    font-weight:bold;
}